/node_modules
/public/hot
/public/storage
/public/static/img/membox
/public/static/img/avatar/upload
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
