// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//navBar Color
$primary_color: #f45a8d;
//footer Color
$footer_color: #99a2aa;
// 浅色主色
$primary_color_s: #e75e4e;
// 深色主色
$primary_color_d: #C2473B;

$text_color: #2c3e50;

$text_gray_color: #373838;

$text_active: #fff;

$text_noactive: #e1e1e1;
