.navbar-app {
  background-color: #f65e71;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-app > a {
  color: #2c3e50;
}

.navbar-app > a:active {
  color: #fff;
}

.footer-app {
  background-color: #7a8e97 !important;
}

.card-buttom {
  background-color: #f4f4f4 !important;
}

.searchb {
  size: 24px 24px;
}

.card-app {
  overflow: hidden;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
  border-radius: 4px;
  transition: 0.3s ease-out 0s;
  color: #7a8e97;
  background: #fff;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.card-head {
  padding-bottom: 5px !important;
}

.app-pic {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

avatar {
  float: left;
  position: relative;
}

avatar > img {
  width: inherit;
  height: inherit;
  border-radius: 2000px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

avatar > p {
  display: inline-block;
}

timeline {
  display: block;
  padding: 3em 2em 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 0.1rem solid rgba(0, 0, 0, 0.3);
}

timeline p {
  font-size: 1rem;
}

timeline::before {
  content: attr(date);
  position: absolute;
  left: 2rem;
  font-weight: bold;
  top: 1rem;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.785rem;
  line-height: 1rem;
}

timeline::after {
  width: 1rem;
  height: 1rem;
  display: block;
  top: 1rem;
  position: absolute;
  left: -0.55rem;
  border-radius: 10px;
  content: "";
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  background: white;
}

timeline:last-child {
  border-image-source: linear-gradient(rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0));
  border-image-slice: 1 0 0 100%;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-width: 0.1rem;
}

